edit:
  command: "codium"
  args: ["--wait"]
git:
  autoAdd: true
  autoCommit: false
  autoPush: false

encryption: "age"
age:
  identity: "{{ .chezmoi.config.destDir }}/.config/chezmoi/age_identity_key.txt"
  recipient: "age1ac9ua53zgnz9qy6lhrlsfaqe8qv4sxwlyx7d3g8wnu9ffmw0yp6sqdsm45"
