#!/bin/bash
# 'onchange' is actually only for this file but adding these hashes helps to include other files
# main.yaml hash: {{ include "dot_config/bootstrap/main.yaml" | sha256sum }}
# install.yaml hash: {{ include "dot_config/bootstrap/install.yaml" | sha256sum }}
# requirements.yaml hash: {{ include "dot_config/bootstrap/requirements.yaml" | sha256sum }}
set -e
ansible-galaxy install -r "$HOME/.config/bootstrap/requirements.yaml"
ansible-playbook "$HOME/.config/bootstrap/main.yaml" --ask-become-pass