#!/bin/bash
set -e
# This is used to link the decrypted file to the Repo (and ignoring it) for easy working with that script
# chezmoi does not like symbolic links that can't resolve to a file, it does error-out before evaluating `.chezmoiignore`
# so we need to ONLY create the link if the file does exist (after decryption)
test -f "{{ .chezmoi.config.destDir }}/.zshrc.d/05_work.zsh" && \
    ln -sf "{{ .chezmoi.config.destDir }}/.zshrc.d/05_work.zsh" "{{ .chezmoi.config.workingTree }}/dot_zshrc.d/05_work_decrypted.zsh"

test -f "{{ .chezmoi.config.destDir }}/.ssh/config.d/private-config" && \
    ln -sf "{{ .chezmoi.config.destDir }}/.ssh/config.d/private-config" "{{ .chezmoi.config.workingTree }}/private_dot_ssh/config.d/private-config_decrypted"

test -f "{{ .chezmoi.config.destDir }}/.ssh/config.d/work-config" && \
    ln -sf "{{ .chezmoi.config.destDir }}/.ssh/config.d/work-config" "{{ .chezmoi.config.workingTree }}/private_dot_ssh/config.d/work-config_decrypted"

test -f "{{ .chezmoi.config.destDir }}/.scripts/git-creds-helper.sh" && \
    ln -sf "{{ .chezmoi.config.destDir }}/.scripts/git-creds-helper.sh" "{{ .chezmoi.config.workingTree }}/dot_scripts/encrypted_executable_git-helper_decrypted.sh"

test -f "{{ .chezmoi.config.destDir }}/.gitconfig" && \
    ln -sf "{{ .chezmoi.config.destDir }}//.gitconfig" "{{ .chezmoi.config.workingTree }}/encrypted_dot_gitconfig_decrypted"
